<div class="container">
  <h1>Contact Me</h1>
  <div class="contact-details">
    <section>
      <h2>Email-</h2>
      <h3>alokitpathak100&#64;gmail.com</h3>
      <h2>Contact</h2>
      <h3>+91 9997663630</h3>
    </section>
    <div class="loogo">
      <a href="https://www.linkedin.com/in/alokit-pathak-8548051bb/">
        <img src="../../assets/link.png" alt="" class="linkedin" />
      </a>

      <a href="https://leetcode.com/u/Alokitpathak007/">
        <img src="../../assets/leetcode.png" alt="" class="linkedin" />
      </a>
      <a href="https://github.com/Alokitpathak">
        <img src="../../assets/github.png" alt="" class="linkedin" />
      </a>
    </div>
  </div>
</div>
